/* public/custom-fonts.css */
@font-face {
  font-family: "Blockstepped";
  src: url("/fonts/Blockstepped.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KleinHeadline";
  src: url("/fonts/KleinHeadline-BoldOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roses are FF0000";
  src: url("/fonts/RosesareFF0000.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VT323";
  src: url("/fonts/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aux Mono";
  src: url("/fonts/AuxMono.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
